<ul class="sidebar-link">
    <li class="sidebar-item">
        <%= link_to "Listing", listing_room_path, class: "sidebar-link active"%>
    </li>
    <li class="sidebar-item">
        <%= link_to "Pricing", pricing_room_path, class: "sidebar-link active"%>
    </li>
    <li class="sidebar-item">
        <%= link_to "Description", description_room_path, class: "sidebar-link active"%>
    </li>
    <li class="sidebar-item">
        <%= link_to "Photo", photo_upload_room_path, class: "sidebar-link active"%>
    </li>
    <li class="sidebar-item">
        <%= link_to "Amenities", amenities_room_path, class: "sidebar-link active"%>
    </li>
     <li class="sidebar-item">
        <%= link_to "Location", location_room_path, class: "sidebar-link active"%>
    </li>
</ul>